[auth.users.admin]
password = "AdminStrongPassword123"
role = "admin"
enabled = true

[auth.users.engineer1]
password = "Engineer1Password123"
role = "user"
enabled = true

[auth.users.engineer2]
password = "Engineer2Password123"
role = "user"
enabled = true
